.TopBar {
  height: 10%;
  z-index: 2;
  position: fixed;
  top: 0;
  background-color: #28ABCB;
  color: #FFF;
}

.logo-title-container {}

.title {
  font-family: 'HelloTropical';
  font-size: 3em;
}

.social-media {}
