.Body {
  top: 8%;
  padding-top: 5%;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 5%;
}

.body-header {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 2em;
}
