.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 12%;
  background-color: #28ABCB;
  color: #FFF;
}

.footer-title {
  font-family: 'HelloTropical';
  font-size: 2em;
}

.footer-copyright {
  text-align: center;
}
